@import url("https://fonts.googleapis.com/css?family=Roboto:700");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgba(34, 34, 34, 0.63);
    width:100%;
    position: fixed;
    z-index: 5;
    margin-top: 0px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20%;
    margin-top: 0px;
}
@media(max-width:1100px){
    nav ul{
        justify-content: center;
    }
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    text-transform: uppercase;
}
nav ul li a{
    font-family: "roboto";
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    margin: 5px;
}
nav ul li a.active{
    border: 1px solid #fdd734;
    box-sizing: border-box;
    border-radius: 20px;
}

nav ul li a:hover{
    border: 1px solid #fdd734;
    border-radius: 20px;
}

@media (max-width:500px){
    nav ul{
        padding: 10px 0px;
        justify-content: center;
    }
    nav ul li{
        margin-right: 0px;
        font-size: 13px;
    }
}

/* ######################    welcome    ####################*/
.banner{
    background-color: #35464e;
    width: 100%;
    height: 300px;
    padding: 70px;
    position: relative;
    color:#fdd734;
    font-family: "Roboto";
    font-size: 50px;
}
.banner p{
    font-size: 20px;
    padding: 10px 50px 10px 0px;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    width: 100%;
    background-color:#35464e ;
    margin: 0px;
    padding-bottom: 5%;
}
section article{
    border-radius: 3px;
    margin: 0% 20% 0% 20%;
    background-color: white;
    box-shadow: 4px 4px 5px #1b1b1b;
    font-family: "roboto";
    align-items: center;
}
@media(max-width:1100px){
    section article{
        margin: 0% 2%;
    }
    section article .iframe iframe{
        width:600px;
    }
}
@media(max-width:500px){
    section article{
        margin: 0%;
    }

}




section article h3{
    text-align: center;
    padding: 50px 50px 50px 50px;
    font-size:30px ;
}
section article p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 50px 16% 50px 16%;
    text-align: justify;
}

section article .iframe{
    text-align: center;

}
section article .iframe iframe{
    width: 550px;
    height: 300px;
}


.welcome{
    display:flex;
    justify-content: flex-start;
    color:white;
    overflow: hidden;
    align-items: center;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/man-coffe-pc-book.jpg);
    width: 100%;
    height: 100vh;

}

.welcome img{
    width: 600px;
    padding: 20% 1% 20% 10%;
    box-sizing: border-box;
}

.welcome .description h1{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color:#fdd734;
    
}

.welcome .description p{
    max-width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:25px;
}

@media (max-width:1100px){
    .welcome img{
        width: 300px;
    }
    .welcome .description h1{
        font-size: 50px;
    }
    .welcome .description p{
        font-size:20px;
    }
}

@media (max-width:800px){
    .welcome img{
        width: 250px;
    }
    .welcome .description h1{
        font-size: 40px;
    }
    .welcome .description p{
        font-size:15px;
    }
    section article .iframe iframe{
        width: 300px;
        height: 200px;
    }
    .banner{
        padding: 70px 10px 0px 10px;
    }

    .banner h2{
        font-size: 35px;
    }
    .banner p{
        font-size: 18px;
    }
    section article p{
        padding: 50px 10% 50px 10%;
    }

}

@media (max-width:500px){
    .welcome{
        height: 50vh;
    }
    .welcome img{
        width: 120px;
        padding: 0% 1% ;
    }
    .welcome .description h1{
        font-size: 20px;
    }
    .welcome .description p{
        font-size:15px;
    }
}


/*####################  PAGES  ########################*/
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 20px 20%;
    align-items: center;
    box-sizing: border-box;
}
.grid>article{

    box-shadow: 2px 2px 6px 0px rgba(53, 70, 78, 0.5);
    text-align: center;
    background: #35464e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.grid article .text p{
    max-height: 50px;
    box-sizing: border-box;
    color: #adadad;
    text-align: justify;
    font-size: 15px;
    padding: 0px 5px 15px 5px;
}
.grid article img{
    width: 100%;
}
.text{
    height: 150px;
    padding: 20px 20px;
}
.text h3{
    text-align: left;
    margin: 5px;
    color: #eeeeee;
}

article >a >button{
    background-color: #eeeeee;
    border-radius: 3px;
    border:none;
    cursor: pointer;
    color:#fdd734;
    width: 90%;
    margin-bottom: 10px;
    font-size: 28px;
    letter-spacing: 2px;
    height: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    text-shadow: 2px 2px 6px 0px rgb(253, 221, 38);
    text-transform: uppercase;

}

article a button:hover{
    box-shadow: 1px 2px 5px 0px ;
}

@media(max-width:1500px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:1100px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 5%;
        grid-gap: 10px;
    }
    .grid article h3{
        font-size: 20px;
        box-sizing: border-box;
    }
    .grid article p{
        font-size: 20px;
    }
    .grid a button{
        font-size: 18px;
    }
}


@media(max-width:500px){
    .grid{
        grid-gap: 20px;
        padding: 10px 40px;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid> article{
        padding: 0px;
        text-align: center;
    }
    .grid a button{
        font-size: 20px;
    }
}

/*###############  INFO   #################*/
.info{
    padding: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: white;
    box-sizing: border-box;
}

.info h2{
    font-size: 30px;
    text-align: center;
}
.info p, ul{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding: 0% 20%;
    box-sizing: border-box;
}
.info strong{
    background-color: tomato;
    padding: 2px;
}
.info i{
    color: gray;
    font-size: small;
    text-align: end;
}
.info ul{
    margin: 20px;
    list-style:square;
}@media(max-width: 800px){
    .info{
        padding: 20px 10px;
    }
    .info p{
        padding: 0% 5%;
    }
}
@media(max-width:500px){
    .info{
        padding: 20px 10px;
    }
    .info h2{
        font-size: 20px;
        padding-top: 0;
    }
    .info p{
        padding: 0% 5%;
    }
}

/*############# FOOTER ##############*/
footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 40px;
    background:#0f0f0f;
    width: 100%;
    position: relative;
    bottom: 0;
    padding-bottom: 50px;
}
.colum-f{
    padding-left: 50px;
}
.colum-f h3{
    color: #7e7e7e;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.colum-f p{
    
    color: #7e7e7e;
}
.colum-f a{
    padding: 2px;
    color: #7e7e7e;
    display:flex;
    flex-direction: row;
    text-decoration: none;
}
.colum-f a:hover{
    color: white;
}
.colum-f a img{
    margin-right: 5px;
    width: 20px;
    color: white;
    filter: contrast(0%);
}

@media (max-width:1100px){
    footer{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:500px){
    footer{
        grid-template-columns: repeat(1,1fr);
    }
}


